<div class="container">
  <div class="entries">
    <p>Show</p>
    <select name="" id="">
      <option value="">2</option>
      <option value="">5</option>
      <option value="">8</option>
      <option value="">10</option>
      <option value="">12</option>
    </select>
    <p>entries</p>
  </div>
   <!-- <div class="status" >
        <i class="fas fa-filter stat"></i>
        <p>Status</p>
        <select name="" class="wselect" (change)="getAllTraineesByStatus($event)">
          <option value="">Any</option>
          <option value="CREATED">Created</option>
          <option value="ACTIVATED">Activated</option>
          <option value="COMPLETED">Completed</option>
          <option value="SUSPENDED">Suspended</option>
        </select>
      </div> -->

      <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="track Id" aria-label="Search"
          aria-describedby="search-addon" ngModel name="trackId" #trackId  />
        <span class="input-group-text border-0" id="search-addon" >
          <i class="fas fa-search"  ></i>
        </span>
      </div>
</div>
<div class="btnCon" >
  <button type="button" class="btn btn-primary btn-sm" (click) =add(1) >Add New Track</button>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar pos">
  <table class="table table-bordered table-striped mb-0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Track Name</th>
        <th scope="col">Track Code</th>
        <th scope="col">Track Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tr of track">
        <th scope="row">{{tr.trackId}}</th>
        <td>{{tr.trackName}}</td>
        <td>{{tr.code}}</td>
        <td>{{tr.trackStatus}}</td>
        <td class="edit">
          <div class="edt">
            <i class="far fa-edit pen"></i>
          </div>
          <div>
            <i class="fas fa-trash-alt trash" (click) = "add2(tr.trackId,2)"></i>
          </div>











         
        </td>
      </tr>
     
    </tbody>
  </table>
 

</div>

<!-- delete modal  trainee -->
<div class= "a " *ngIf ="showAdd === 2" >
  <div class="del" >
  <p>Are you sure you want to delete batch </p>
    <div class="delbtn">
      <button type="button" class="btn btn-primary  size" (click) ="deleteTrack(track.trackId)" >Yes</button>
      <button type="button" class="btn btn-danger size" (click) ="close()">No</button>


    </div>
  </div> 
 
</div>
<!-- modal delete trainee -->
 <!-- modal add trainee -->
 <div class= "a " *ngIf ="showAdd === 1" >
    <div class="m" >
     <div class="cap">
       Add New Track
     </div>
      <form action="" class="addform" #trackRecords = "ngForm" (ngSubmit) ="createNewTrack(trackRecords.value)">
        <label for="">Track Name</label>
        <input type="text" name="trackName" placeholder="Track Name" ngModel>
        <label for="">Track Code</label>
        <input type="text" name="trackCode" placeholder="track code" ngModel>
       
        <label for="">Select track Batch</label>
        <select name="trackBatch"  ngModel>
          <option value="1">Batch 1</option>
          <option value="2">Batch 2</option>
          <option value="3">Batch 3</option>
          <option value="4">Batch 4</option>
        </select>

        <label for="">Select track status</label>
        <select name="trackStatus"  ngModel>
          <option value="COMPLETED">Completed</option>
          <option value="CREATED">Created</option>
          <option value="SUSPENDED">Suspended</option>
          <option value="ACTIVATED">Activated</option>
        </select>
       
        <div class="addbtn">
          <button type="submit" class="btn btn-primary btn-lg"  >Add track</button>
          <button type="button" class="btn btn-danger size" (click) ="close()">Close</button>
        </div> 
      </form> 
    </div> 
   
</div>
 <!-- modal add trainee -->