<div>
    <div class="main-container">
        <div class="sidebar">
            <div class="header">
                <h4>ADMIN DASHBOARD</h4>
            </div>
            <div class="fields">
              <a class="fields" routerLink ="/dashboard">
                <i class="fab fa-instalod dash fa-2x"></i>
                <h5>DASHBOARD</h5></a>
            </div>
            <div class="fields">
                <a  class = "fields" routerLink ="/traineeInfo">
                    <i class="fas fa-user-friends dash fa-2x"></i>
                    <h5>TRAINEES INFO</h5>
                </a>
            </div>
            <div class="fields">
                <i class="fas fa-layer-group dash fa-2x"></i>
                <h5> BATCH</h5>
            </div>
            <div class="fields">
                <i class="fab fa-instalod dash fa-2x"></i>
                <h5>DASHBOARD</h5>
            </div>
            <div class="fields">
                <i class="fab fa-instalod dash fa-2x"></i>
                <h5>DASHBOARD</h5>
            </div>
            <div class="fields">
                <i class="fab fa-instalod dash fa-2x"></i>
                <h5>DASHBOARD</h5>
            </div>
            <div class="fields">
                <i class="fas fa-sign-out-alt dash fa-2x"></i>
                <h5>LOGOUT</h5>
            </div>
        </div>


        <div class="container">
            <div class="navbar">
                <i class="fas fa-search icon"></i>
                <input type="text" placeholder="Search">
            </div>
            <router-outlet></router-outlet>

        </div>
    
    </div>
</div>