<div class="pos">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section id="tabs" class="project-tab">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" routerLink = "/traineeInfo" role="tab" aria-controls="nav-home" aria-selected="true">Trainee</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLink = "/traineeInfo" role="tab" aria-controls="nav-profile" aria-selected="false">Batch</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Track</a>
                            </div>
                        </nav>
                           
                           
                        </div>
                    </div>
                </div>
            
        </section>
  
        <router-outlet></router-outlet>
  
</div>