<div class="container">
  <div class="entries">
    <p>Show</p>
    <select name="" id="">
      <option value="">2</option>
      <option value="">5</option>
      <option value="">8</option>
      <option value="">10</option>
      <option value="">12</option>
    </select>
    <p>entries</p>
  </div>
   <div class="status" >
        <i class="fas fa-filter stat"></i>
        <p>Status</p>
        <select name="" class="wselect" (change)="getAllTraineesByStatus($event)">
          <option value="">Any</option>
          <option value="CREATED">Created</option>
          <option value="ACTIVATED">Activated</option>
          <option value="COMPLETED">Completed</option>
          <option value="SUSPENDED">Suspended</option>
        </select>
      </div>

      <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Batch Id" aria-label="Search"
          aria-describedby="search-addon" ngModel name="traineeId" #traineeId (change)="getAllTraineeByBatch(traineeId.value)" />
        <span class="input-group-text border-0" id="search-addon" (click)="getAllTraineeByBatch(traineeId.value)">
          <i class="fas fa-search"  ></i>
        </span>
      </div>
</div>
<div class="btnCon" >
  <button type="button" class="btn btn-primary btn-sm" (click) =add(1) >Add New Trainee</button>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar pos">
  <table class="table table-bordered table-striped mb-0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">DOB</th>
        <th scope="col">Status</th>
        <th scope="col">Batch</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of trainee">
        <th scope="row">{{t.traineeId}}</th>
        <td>{{t.name}}</td>
        <td>{{t.surname}}</td>
        <td>{{t.dob}}</td>
        <td>{{t.trainee_status}}</td>
        <td>{{t.trainee_batch_id.batchName}}</td>
        <td class="edit">
          <div class="edt">
            <i class="far fa-edit pen"></i>
          </div>
          <div>
            <i class="fas fa-trash-alt trash" (click) = "add2(t.traineeId,2)"></i>
          </div>











         
        </td>
      </tr>
     
    </tbody>
  </table>
 

</div>

<!-- delete modal  trainee -->
<div class= "a " *ngIf ="showAdd === 2" >
  <div class="del" >
  <p>Are you sure you want to delete trainee </p>
    <div class="delbtn">
      <button type="button" class="btn btn-primary  size" (click) ="deleteTrainee(trainee.traineeId)" >Yes</button>
      <button type="button" class="btn btn-danger size" (click) ="close()">No</button>


    </div>
  </div> 
 
</div>
<!-- modal delete trainee -->
 <!-- modal add trainee -->
 <div class= "a " *ngIf ="showAdd === 1" >
    <div class="m" >
     <div class="cap">
       Add New Trainee
     </div>
      <form action="" class="addform" #traineeRecords = "ngForm" (ngSubmit) ="createNewTrainee(traineeRecords.value)">
        <label for="">First Name</label>
        <input type="text" name="firstName" placeholder="Traine first Name" ngModel>
        <label for="">Last Name</label>
        <input type="text" name="lastName" placeholder="Traine Last Name" ngModel>
        <label for="">Date of Birth</label>
        <input type="date" name="dateOfBirth" ngModel>
        <label for="">Select trainee status</label>
        <select name="traineeStatus"  ngModel>
          <option value="COMPLETED">Completed</option>
          <option value="CREATED">Created</option>
          <option value="SUSPENDED">Suspended</option>
          <option value="ACTIVATED">Activated</option>
        </select>
        <label for="">Select batch</label>
        <select name="traineeBatchId"  ngModel>
          <option value="1">Batch 1</option>
          <option value="2">Batch 2</option>
          <option value="2">Batch 3</option>
          <option value="3">Batch 4</option>
        </select>
        <div class="addbtn">
          <button type="submit" class="btn btn-primary btn-lg"  >Add trainee</button>
          <button type="button" class="btn btn-danger size" (click) ="close()">Close</button>
        </div> 
      </form> 
    </div> 
   
</div>
 <!-- modal add trainee -->